<h4>Internal Server Error</h4>
@if (error){
<h5 class="text-danger">Error: {{error.message}}</h5>
<p class="font-wright-bold">Note: if you are seeing this error then angular is not to blame!</p>
<p>what do next?</p>
<ol>
    <li>open chrom dev tools and chack the failing network request in the network tab</li>
    <li>examine the url of the failing request</li>
    <li>reproduce the error in postman</li>
</ol>
<p class="font-weight-bold">following is the stack </p>
<code class="mt-5" style="background-color: whitesmoke;">{{error.details}}</code>
}